.countries-img 
{
	margin-left: 68px;
}

nav
{
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link 
{
    border: 1px solid;
    display: block;
    height: 20px;
    margin: 0 0 5px 0;
    text-align: center;
    width: 70%;
}

.nav-link:first-child:hover
{
	margin-bottom: 5px;
}

.nav-link:hover
{
	margin-bottom: 4px;
}

.cuba-dance
{
	left: 5%;
	width: 430px;
}

iframe
{
	width: 400px;
}

.cuba-photo {
    left: 5px;
    width: 460px;
}

.popup-car
{
	width: inherit;
}

.close-photo {
    right: -10px;
}